#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
}


@keyframes cards {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.pokeCard h3 {
    margin: 0;
}

.pokeCard img {
    width: 12vw;
}

#loading {
    margin-left: 120px;
    animation: cards 1s alternate infinite;
}