body {
    background: #1a1919;
    color: #e2dede;
    font-family: monospace;
    font-size: 25px;
}

.container {
    margin: 50px auto;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
