.btn-num {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background: #131212;
    color: #ebe6e6;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    box-shadow: 1px 1px 10px #000;
}
